<div class="bg-image" style="height: 100vh">
  <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img" alt="Sample" />
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
    <!-- Material form login -->
    <div class="container-fluid h-100 p-0">
      <div class="row h-100 align-items-center m-0">
        <!--Grid column-->
        <div class="col col-sm-12 col-md-6 col-lg-8 intro-content-wrapper">
          <div class="col-lg-6 d-flex align-items-center h-100">
            <div>
              <h6 class="text-uppercase text-info mb-3">Feature category</h6>
              <h2 class="fs-2 fw-900 mb-3">
                Most important thing you need to know about customers
              </h2>
              <p class="fw-normal mb-5 opacity-80">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                excepturi sint occaecati cupiditate provident, similique sunt in culpa qui officia
                deserunt.
              </p>
              <div class="row">
                <div class="col-lg-6 mb-5">
                  <h4 class="fw-900">9K+</h4>
                  <p>
                    Lorem ipsum
                    <span class="opacity-80">use laoreet amet lacusent nibh integer quis.</span>
                  </p>
                </div>
                <div class="col-lg-6 mb-5">
                  <h4 class="fw-900">35K+</h4>
                  <p>
                    Dolor sit amet
                    <span class="opacity-80">lacusent nibh integer quis.</span>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0">
                  <h4 class="fw-900">97%</h4>
                  <p class="mb-0">
                    Consectetur adipiscing
                    <span class="opacity-80">laoreet amet lacusent nibh integer quis.</span>
                  </p>
                </div>
                <div class="col-lg-6">
                  <h4 class="fw-900">13M+</h4>
                  <p class="mb-0">
                    Eiusmod tempor <span class="opacity-80">lacusent nibh integer quis.</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Grid column-->
        <div
          class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 login-content-wrapper h-100 d-flex align-items-center">
          <div class="mx-auto pt-5 pt-sm-0 mt-5 my-sm-auto wow w-75 w-xs-100 fadeInRight">
            <div class="card login-content mx-auto my-auto wow fadeInRight">
              <div class="card-header grey lighten-5 white-text text-center py-3">
                <h5 class="mb-0">Login</h5>
              </div>
              <div class="card-body">
                <!-- Form -->
                <form>
                  <div class="md-form">
                    <label for="username" class="form-label">Username</label>
                    <div class="input-group input-group-lg mb-3">
                      <span class="input-group-text ps-3 pe-3" id="basic-addon3"
                        ><i-bs name="person-fill"></i-bs
                      ></span>
                      <input
                        type="text"
                        class="form-control px-1"
                        id="username"
                        aria-describedby="basic-addon3" />
                    </div>
                  </div>
                  <div class="md-form">
                    <label for="password" class="form-label">Password</label>
                    <div class="input-group input-group-lg mb-3">
                      <span class="input-group-text ps-3 pe-3" id="basic-addon3"
                        ><i i-bs name="lock-fill"></i
                      ></span>
                      <input
                        type="password"
                        class="form-control px-1"
                        id="password"
                        aria-describedby="basic-addon3" />
                    </div>
                  </div>
                  <div class="d-flex justify-content-between mt-3 mb-3">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault" />
                      <label class="form-check-label" for="flexCheckDefault">
                        Keep me logged in
                      </label>
                    </div>
                    <a href="">Forgot password</a>
                  </div>

                  <button
                    type="button"
                    class="btn btn-lg btn-block btn-primary"
                    [routerLink]="['/sample']">
                    Login
                  </button>
                </form>
                <!-- Form -->
              </div>
              <div class="card-footer p-4">
                <div class="text-center">
                  <p class="mb-0">© 2021 Novelty Technology. All rights reserved.</p>
                  <!-- <p class="mb-0">© {{current_year}} Novant Health. All rights reserved.</p> -->
                  <p class="mb-0">
                    <a
                      id="termsOfUse"
                      href="javascript:void(0)"
                      [routerLink]="['/terms-of-use']"
                      target="_blank"
                      ><small> Terms of Use |</small></a
                    >
                    <a
                      id="privacyPolicy"
                      href="javascript:void(0)"
                      [routerLink]="['/privacy-policy']"
                      target="_blank"
                      ><small> Privacy Policy </small></a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
