<a class="app-brand shadow d-block" href="#">
  <img src="../../../assets/images/svg/logo.svg" class="img-fluid" alt="" style="height: 40px" />
</a>
<ul id="scroll-container" class="sidenav-menu overflow-auto" mdbScrollbar>
  <mdb-sidenav-item>
    <a class="sidenav-link" [routerLink]="['/dashboard']">
      <i-bs name="grid-fill" class="me-2"></i-bs> <span slim="false">Dashboard</span>
    </a>
  </mdb-sidenav-item>
  <mdb-sidenav-item>
    <a class="sidenav-link" [routerLink]="['/sample']">
      <i-bs name="file-code" class="me-2"></i-bs>
      <span slim="false">Sample</span>
    </a>
  </mdb-sidenav-item>
  <mdb-sidenav-item>
    <a class="sidenav-link">
      <i-bs name="pencil-square" class="me-2"></i-bs>
      <span slim="false">Forms</span></a
    >
    <ul class="sidenav-collapse" mdbCollapse>
      <li class="sidenav-item">
        <a class="sidenav-link" [routerLink]="['/forms/checkbox']">Checkbox</a>
      </li>
      <li class="sidenav-item">
        <a class="sidenav-link" [routerLink]="['/forms/input']">Input</a>
      </li>
      <li class="sidenav-item">
        <a class="sidenav-link" [routerLink]="['/forms/radio']">Radio</a>
      </li>
      <li class="sidenav-item">
        <a class="sidenav-link" [routerLink]="['/forms/select']">Select</a>
      </li>
      <li class="sidenav-item">
        <a class="sidenav-link" [routerLink]="['/forms/autocomplete']">Autocomplete</a>
      </li>
    </ul>
  </mdb-sidenav-item>
  <mdb-sidenav-item>
    <a class="sidenav-link">
      <i-bs name="bell-fill" class="me-2"></i-bs>
      <span slim="false">Category</span>
    </a>
    <ul class="sidenav-collapse" mdbCollapse>
      <li class="sidenav-item">
        <a class="sidenav-link">Movies</a>
      </li>
      <li class="sidenav-item">
        <a class="sidenav-link">Tv Series</a>
      </li>
      <li class="sidenav-item">
        <a class="sidenav-link">Documentary</a>
      </li>
    </ul>
  </mdb-sidenav-item>
  <mdb-sidenav-item>
    <a class="sidenav-link">
      <i-bs name="film" class="me-2"></i-bs>
      <span slim="false">New Release</span>
    </a>
  </mdb-sidenav-item>
  <mdb-sidenav-item>
    <a class="sidenav-link">
      <i-bs name="star" class="me-2"></i-bs>
      <span slim="false">Top Rated</span>
    </a>
  </mdb-sidenav-item>
  <mdb-sidenav-item>
    <a class="sidenav-link">
      <i-bs name="download" class="me-2"></i-bs>
      <span slim="false">Download</span>
    </a>
  </mdb-sidenav-item>
  <mdb-sidenav-item>
    <a class="sidenav-link">
      <i-bs name="gear-fill" class="me-2"></i-bs>
      <span slim="false">Settings</span>
    </a>
  </mdb-sidenav-item>
  <mdb-sidenav-item>
    <a class="sidenav-link" [routerLink]="['/radio-form']">
      <i-bs name="gear-fill" class="me-2"></i-bs>
      <span slim="false">Radio Form</span>
    </a>
  </mdb-sidenav-item>
</ul>
<div class="text-light p-2" style="min-height: 3rem">
  <hr class="mt-0 mb-2" />
  <small>Version 1.1</small> <br />
  <small>© 2021 Novelty Technology.</small>
</div>
