<!-- Default radio start -->
<div
  class="ps-0 md-form my-1"
  [class.form-check]="validate"
  [class.form-check-inline]="inline"
  [formGroup]="form">
  <div
    [class.form-check]="validate && (radioItem.label || label)"
    [class.form-check-inline]="inline"
    *ngFor="let radioItem of radioOptions; let i = index">
    <!-- TODO: Get answer to question: Why do we need mdbRadio directive? If we add this directive to input, the radio buttons does not check for initial value -->
    <!-- <input
      mdbRadio -->
    <input
      mdbValidate
      validateSuccess="false"
      class="form-check-input"
      type="radio"
      [attr.aria-label]="radioItem.label ?? label ?? ariaLabel"
      [formControlName]="control"
      [value]="radioItem.value ?? value"
      [checked]="radioItem.checked ?? checked"
      [disabled]="radioItem.disabled ?? disabled"
      [id]="radioItem.id ?? id"
      [ngClass]="radioClass"
      [readonly]="radioItem.readonly ?? readonly" />
    <label class="form-check-label" [ngClass]="labelClass" [for]="radioItem.id ?? id">
      {{ radioItem.label ?? label ?? ariaLabel }}
    </label>
  </div>
  <mdb-error *ngIf="showValidationMessage && isInvalid">{{ errorMessage }}</mdb-error>
  <mdb-success *ngIf="showValidationMessage && !isInvalid">{{ successMessage }}</mdb-success>
</div>
<!-- Default radio end -->
